[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.6.0"
selenium = "==4.9.0"
sendgrid = "==6.4.6"
toml = "==0.10.1"
configargparse = "==0.11.0"
pillow = "==5.1.0"

[dev-packages]

[requires]
python_version = "3.10"
